.container0 {
    display: block;
}

.container01 {
    height: auto;
}

.container02 {
    display: flex;
    height: auto;
    text-align: center;
}

.sub {
    height: auto;
    width: 50%;
}
#file
{
    width: 383px;
    margin-left: 145px;

}
h1 {
    text-align: center;
}

input {
    width: 380px;
}

.container03 {
    height: auto;
    text-align: center;
}

#cv-form
{
    /* display: none; */
}
#cv-template
{
    display: none;
}


/* sample templates  */
.myimg
{
    border: black solid 1px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    
}
.background
{
    background-color: aqua;
}
.row
{
    display: flex;
}
